modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Tvarkdarys Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "telegram_bot"

[[workflows.workflow]]
name = "Tvarkdarys Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install python-telegram-bot && python bot.py"

[[workflows.workflow]]
name = "telegram_bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install python-telegram-bot && python bot.py"

[deployment]
run = ["sh", "-c", "pip install python-telegram-bot && python bot.py"]
